<div class="text-center green-font">
  <%= form_for(:session, url: login_path) do |f| %>
    <h4><%= f.label :username %></h4>
    <h4><%= f.text_field :username %></h4>
    <h4><%= f.label :password %></h4>
    <h4><%= f.password_field :password %></h4>
    <%= f.submit "Login to your account", class: "btn btn-success btn-font-size" %>
  <% end %>
</div>
