<div class="well">
  <div class="text-center row">
    <div class="padded-bottom">
      <h1 class="green-font mousiness" >Admin Dashboard</h1>
    </div>
  </div>
  <div class="text-center row">
    <%= link_to "Update Account", edit_user_path(current_user.id), class: "btn btn-success btn-font-size mousiness" %>
    <%= link_to "Create New Item", new_item_path, class: "btn btn-success btn-font-size mousiness" %>
  </div>
  <div class="text-center row">
    <div class="padded-bottom padded-top">
      <h2 class="green-font mousiness" >Order Statuses</h1>
    </div>
  </div>
  <div class="orders row">
    <% Order.statuses.each do |status| %>
      <div class="col-md-3 text-center green-font mousiness"><h4><%= link_to status.capitalize, admin_status_path(status: status)%>: <%= @orders.status_total(status) %></h4></div>
    <% end %>
    <table class="table table-condensed table-hover orders-table">
      <tr>
        <th class="mousiness text-center"><h4>Order #</h4></th>
        <th class="mousiness text-center"><h4>Status</h4></th>
        <th class="mousiness text-center"><h4>Placed on</h4></th>
        <th class="mousiness text-center"><h4>Update Order</h4></th>
      </tr>
      <% @orders.each do |order| %>
        <tr>
          <td class="mousiness text-center"><h5><%= link_to "##{order.id}", order_path(order.id) %></h5></td>
          <td class="mousiness text-center"><h5><%= order.status %></h5></td>
          <td class="mousiness text-center"><h5><%= order.created_at.strftime("%B %-d, %Y") %></h5></td>
          <% if order.status == "paid" %>
            <td><%= button_to "Cancel order", order_path(order, status: "cancelled"), method: :patch, class: "btn btn-danger btn-font-size mousiness" %>
            <%= button_to "Mark as completed", order_path(order, status: "completed"), method: :patch, class: "btn btn-success btn-font-size mousiness" %></td>
          <% elsif order.status == "ordered" %>
            <td><%= button_to "Cancel order", order_path(order, status: "cancelled"), method: :patch, class: "btn btn-danger btn-font-size mousiness"%>
            <%= button_to "Mark as paid", order_path(order, status: "paid"), method: :patch, class: "btn btn-success btn-font-size mousiness"%></td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
