<div class="text-center row">
  <div class="padded-bottom">
    <h1 class="green-font mousiness">Admin Dashboard</h1>
  </div>
</div>

<div class="text-center row">
  <%= render partial: "users/user_info", locals: {user: current_user} %>
  <%= render partial: "users/user_info_links", locals: {orders_text: "Personal Orders"} %>
</div>
<div class="text-center row">
  <div class="padded-top">
    <%= link_to "Create New Item", new_item_path, class: "btn btn-success btn-font-size mousiness margin-top-50" %>
  </div>
</div>

<div class="text-center row">
  <div class="padded-top padded-bottom">
    <h2 class="green-font mousiness">All Orders</h1>
  </div>
</div>
<div class="orders row">
  <table class="table table-condensed table-hover orders-table">
    <%= render partial: "admin/orders/status_counts" %>
    <%= render partial: "admin/orders/table_headers" %>
    <%= render partial: "admin/orders/order", collection: @orders %>
  </table>
</div>
