<div class="text-center row">
  <h3 class="mousiness">Name: <%= @user.first_name %> <%= @user.last_name %></h3>
  <h3 class="mousiness">Address: <%= @user.address %></h3>
  <%= link_to "Update Account", edit_user_path(current_user.id), class: "btn btn-success btn-font-size mousiness " %>
  <%= link_to orders_text, orders_path, class: "btn btn-success btn-font-size mousiness "%>
</div>
