<div class="col-md-4">
  <div class="item-display">
    <img src="<%= item.image %>" alt="<%= item.title %>">
    <button class="btn item-btn mousiness btn-font-size">
      <%= item.title %>
      </br>
      <div class="btn-pricing"><%= item.formatted_price %></div>
    </button>
    <%= button_to "Add to Cart", cart_items_path(item_id: item.id), class: "btn item-btn mousiness btn-font-size" %>
  </div>
</div>
