<div class = "well">
  <div class = "row mousiness text-center">
    <h1 class=""><%= link_to "My Orders", orders_path %></h1>
    <h4>Order #<%= @order.id %></h4>
    <h4>Status: <%= @order.status %></h4>
    <h4>Total: <%= @order.formatted_total %></h4>
    <h4>Date Submitted: <%= @order.formatted_creation_date %></h4>
    <h4>Date Updated: <%= @order.formatted_update_date %></h4>
  </div>
  <div class="items">
    <% @order.line_items.each do |line_item| %>
    <div class="cart-item-container">
      <div class="col-md-3 cart-item-image">
        <img src="<%= line_item.item.image %>" alt="<%= line_item.item.title %>">
      </div>
      <div class="col-md-6 cart-item-description">
        <h3 class="mousiness"><%= link_to "#{line_item.item.title}", item_path(line_item.item.id) %></h3>
        <h4 class="mousiness"><%= line_item.item.description %></h4>
        <p class="btn-pricing"><%= line_item.item.formatted_price %></p>
        <p class="btn-pricing">Qty. <%= line_item.quantity %></p>
      </div>
      <div class="col-md-12 item-subtotal text-right">
        <h5 class= "mousiness green-font">
          Subtotal: <%= line_item.formatted_subtotal %>
        </h5>
      </div>
    </div>
    <% end %>
  </div>
</div>
