<div class="cart-item-container">
  <div class="col-md-3 cart-item-image">
    <%= image_tag item.image, alt: item.title %>
  </div>
  <div class="col-md-6 cart-item-description">
    <h3 class="mousiness"><%= item.title %></h3>
    <h4 class="mousiness"><%= item.description %></h4>
    <p class="btn-pricing"><%= item.formatted_price %></p>
    <p class="btn-pricing">Qty. <%= quantity %></p>
  </div>
  <div class="col-md-3">
    <%= button_to "Increase quantity", cart_items_path(item_id: item.id), class: "btn btn-success mousiness btn-font-size cart-item-buttons" %>
    <%= button_to "Decrease quantity", cart_items_path(item_id: item.id, subtract: true), class: "btn btn-warning mousiness btn-font-size cart-item-buttons" %>
    <%= button_to "Remove", cart_item_path(item.id), class: "btn btn-danger mousiness btn-font-size cart-item-buttons", method: "delete" %>
  </div>
  <div class="col-md-12 item-subtotal text-right">
    <h5 class= "mousiness green-font">
      Subtotal: <%= "#{format('$%.2f', (item.price * quantity / 100.0))}" %>
    </h5>
  </div>
</div>
